<div class="jumbotron">
</div>

<nav class="well">
    <p><a class="btn btn-primary btn-lg" href="/play" role="button" style="background-color: white; border: none; color: black;">Play</a></p>
</nav>

<div class="container">
  <div class="row">
    <div class="col-xs-4 col-md-4">
      <div class="thumbnail center-block">
        <%= image_tag "cards/643px-Cards-10-Diamond.svg.png", class: "img-responsive" %>
      </div>
    </div>
    <div class="col-xs-4 col-md-4">
      <div class="thumbnail center-block">
        <%= image_tag "cards/643px-Cards-J-Spade.svg.png", class: "img-responsive" %>
      </div>
    </div>
    <div class="col-xs-4 col-md-4">
      <div class="thumbnail center-block">
        <%= image_tag "cards/643px-Cards-A-Heart.svg.png", class: "img-responsive" %>
      </div>
    </div>
</div>
