@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'welcome';
@import 'play';

$banner-color: #141414;
$banner-font: #FEFEF7;

header {
  background-color: $banner-color;
  color: $banner-font;
  margin: 0 auto;
  font-size: 26px;
  line-height: 64px;
  text-align: center;
  font-family: 'Lora', serif;
  font-weight: bold;
  margin-bottom: 10px;
}
body {
  padding-top: 20px;
}
